@import '../../../styles/card.scss';

h2 {
    color:$text-color;
    line-height: 0;
    margin-bottom: 10%;
}
p {
    color: $text-color-darker;
    font-size: 13px;
    line-height: 200%;
    margin-top: 0;
    margin-bottom: 0;
}
