<div class="card" *ngIf="quiz">
    <h2>
        <i class="fab fa-leanpub"></i>
        {{quiz.name}}
    </h2>
    <p>
      <i class = "fas" [ngClass]="getIconTheme(quiz?.theme)"></i>
      Theme : {{quiz?.theme}}
    </p>
    <p>
      <i class="fas fa-at"></i>
      Length : {{quiz.questions.length}}
    </p>
    <p *ngIf="quiz.creationDate">
      <i class="fas fa-calendar"></i>
      Date : {{quiz.creationDate | date:'dd/MM/yyyy'}}
    </p>
    <button class="button-card" (click)="selectQuiz()">Select</button>
    <button class="button-card" (click)="deleteQuiz()">Delete</button>
    <button class="button-card" routerLink="/quiz-edit">Edit</button>
</div>
